
.mansalva-regular {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: calc(100vh - 120px);
  min-height: 400px;
  text-align: center;
  border: 60px solid;
  border-image: url("images/border.png") 100 repeat;
}