
.mansalva-regular {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-style: normal;
}

.winky-sans {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.scrollable {
  overflow: auto;
}

.spiral-border {
  border: 60px solid;
  border-image: url("images/border.png") 100 repeat;
}

.spiral-border-small-filled {
  border: 40px solid;
  border-image: url("images/border-filled.png") 100 repeat;
}

.editable {
  background-color: white;
  background-clip: padding-box;
  filter: drop-shadow(0 10px 0 rgb(249, 187, 177));
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.clickable {
  background-color: white;
  background-clip: padding-box;
  filter: drop-shadow(0 10px 0 rgb(249, 187, 177));
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.clickable:hover {
  filter: drop-shadow(0 13px 0 rgb(249, 187, 177));
  transform: translateY(-3px);
}

.clickable:active {
  filter: drop-shadow(0 5px 0 rgb(249, 187, 177));
  transform: translateY(5px);
}

.clickable:disabled {
  filter: drop-shadow(0 0 0 rgb(249, 187, 177));
  color: gray;
  transform: translateY(10px);
}

input[type="file"] {
  display: none;
}

body {
  margin: auto;
  max-width: 500px;
  min-height: 400px;
  text-align: left;
  font-size: 26px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

p {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

table {
  overflow-x: auto;
  width: 100%;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

td, tr {
  padding: 10px;
}